@{
   
}
<h1>@ViewData["Title"]</h1>

<h2>My name: "@ViewBag.Name"</h2>
<h3>@ViewBag.Teste</h3>

<hr />
<!-- chamado de Partial View -->
<partial name="_messagesPartial"/>
<hr />

<p>Use this page to detail your site's privacy policy.</p>

<form action="privacy" method="post">
    Id <input type="text" name="Id" />
    Name <input type="text" name="Name" />
    <input type="submit" name="name" value="Save" />
</form>